<div class="column">
  {{!-- log in header --}}
<h2 class="title pb-4">login:</h2><hr>
<form class="login-form">
  <div>
    {{!-- username input --}}
    <label for="username-login">username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    {{!-- password input --}}
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    {{!-- submit button --}}
    <button type="submit" class="button is-primary">login</button>
    <a href="/signup"><button type="button" class="button is-danger">signup</button></a>
  </div>
</form>
</div>

{{!-- javascript file --}}
<script src="/javascript/login.js"></script>