<div class="column">
    {{!-- header --}}
<h2 class="title pb-4">create new account:</h2><hr>
<form class="signup-form">
  {{!-- username input --}}
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  {{!-- password input --}}
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  {{!-- submit button --}}
  <div>
    <button type="submit" class="button is-primary">signup</button>
  </div>
</form>
</div>

{{!-- javascript file --}}
<script src="/javascript/signup.js"></script>